<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <img width="120" src="/imagenes/digital house logo.png" alt="logo"><!-- agregamos una imagen logo en el header y pusimos su tamaño en 120px -->
       <!--  <h1>TP HEROES </h1> el titulo es un elemento de bloque, por eso se ve reflejado en la linea siguiente --> <!-- borro el titulo porque el logo seria nuestra manera de dentificar la pagina -->
    </header>
    
        <nav> 
            <ul type=none>
                <li><a href="/">home</a></li>
                <li><a href="/babbage">babbage</a></li>
                <li><a href="/berners-lee">berners</a></li>
                <li><a href="/clarke">clarke</a></li>
                <li><a href="/hamilton">hamilton</a></li>
                <li><a href="/hopper">hopper</a></li>
                <li><a href="/lovelace">lovelace</a></li>
                <li><a href="/turing">turing</a></li>
            </ul>
        </nav>
        <form action="">
            <input type="text"><button type="submit">buscar</button>
        </form>
   
    <main>
    <!--   <a href="/babbage"><img src="/imagenes/babbage.jpg" alt="babbage"></a>
            la etiqueta a nos permite generar un enlace que cuando esta en elenlace /babbage se conecta con la imagen que figura enla carpeta y nos da un hipervinculo -->
        <a href="/babbage"><img height="250" src="/imagenes/babbage.jpg" alt="babbage"></a>
        <a href="/berners-lee"><img height="250" src="/imagenes/berners-lee.jpg" alt="berners-lee"></a>
        <a href="/clarke"><img height="250" src="/imagenes/clarke.jpg" alt="clarke"></a>
        <a href="/hamilton"><img height="250" src="/imagenes/hamilton.jpg" alt="hamilton"></a>
        <a href="/hopper"><img height="250" src="/imagenes/hopper.jpg" alt="hopper"></a>
        <a href="/lovelace"><img height="250" src="/imagenes/lovelace.jpg" alt="lovelace"></a>
        <a href="/turing"><img height="250" src="/imagenes/turing.webp" alt="turing"></a>
        <!-- height="alto de la pagina en pizxeles" -->
        <!-- width="ancho de la imagen en pixeles" -->
    </main>
    <footer>
        <p>Copyright Comicion 16 -- Alumno Juan Jose Aarcon.</p>
    </footer>
    
</body> 
</html> 
